#left-menu{
    $color-border: $color-border; //border color;
    $color-bg-sub-menu: $color-primary-light;

    list-style: none;
    margin: 0;
    padding:0;
    line-height: 1.2;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    border-top: 1px solid $color-border;
    margin-bottom: 20px;
    ul{
        list-style: none;
        margin: 0;
        padding:0;
    }
    >li{
        >a{
            background-color: $color-bg-sub-menu;
            color: $color-dark;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid $color-border;
            font-weight: 600;;
            &:hover, .selected{
                color: $color-white;
                background-color: $color-accent;
            }
        }
        ul{
            li{
                a{
                    padding-left: 22px;
                    padding-right: 10px;
                    border-bottom: 1px solid $color-border;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: $color-bg-sub-menu;
                    color: $color-dark;
                    &:hover, .selected{
                        color: $color-white;
                        background-color: $color-accent;
                    }
                }
            }
        }
    }
    .hide{
        
    }
    a{
        text-decoration: none;
        display: inline-block;
        width: 100%;
    }
}