<%
  var data = {
    title: "Главная",
    show_sidebar: true,
    sidebar_html : _.template(require('./../includes/sidebar.html').default)()
  };
  var news ={
    "name": "Название",
    "text" : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque dolores facere, labore nihil odit temporibus vel voluptates. Atque doloribus error, facilis fugit incidunt laboriosam maxime quam sit vero voluptas?"
  };
  var sliders = [
    {
      name: "Армавирский реабилитационный центр оборудован новой котельной",
      text: "В торжественной церемонии открытия приняли участие заместитель губернатора Кубани Анатолий Вороновский, первый заместитель министра труда и социального развития Краснодарского края Евгений Наумов...",
      url: "#",
      img: "/img/slide-1.jpg"
    }
  ];
%>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section>
  <div class="main-slider">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <div class="glide__slides">
          <% for(var i = 0; i < sliders.length; i++){%>
            <div class="glide__slide" style="background-image:url(<%=sliders[i].img%>)">
              <div class="pic-wrapper"></div>
              <div class="slider-content">
                <div class="slide-header"><%=sliders[i].name%></div>
                <div class="slide-text"><%=sliders[i].text%></div>
              </div>
              <div class="link-to-detail">
                <a href="" title="">Подробней</a>
              </div>
            </div>
          <%}%>
        </div>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]">
        <% for(var i = 0; i < sliders.length; i++){%>
         <button class="glide__bullet" data-glide-dir="=<%=i%>"></button>
        <%}%>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
      new Glide('.glide').mount()
    });
    
  </script>
</section>

<%= _.template(require('./../includes/footer.html').default)() %>
