.question-btn {
	background-color:#007dc1;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:15px 18px;
	text-decoration:none;
	&:hover {
		background-color:$color-accent;
		border-color: $color-accent-hover;
	}
	&:active {
		position:relative;
		top:1px;
	}
}

.btn{
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	padding:0.4em 0.8em;
	text-decoration:none;

	&:active {
		position:relative;
		top:1px;
	}
	&.btn-blue{
		background-color:#007dc1;
		border:1px solid #124d77;
		&:hover {
			background-color:$color-accent;
			border-color: $color-accent-hover;
		}
	}	
}
        