.sidebar-left{
  width: $sidebar-left;
  margin-right: $sidebar-margin;
  .sidebar-block-header{
    line-height: 1.2em;
    background-color: $color-primary;
    color: $color-white;
    padding: 10px;
  }
  @include breakpoint(max-width $desktop-width){
    display: none;
  }
}
