@import "bootstrap";


$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
*{
  box-sizing: border-box;
}
a{
  color: $color-primary;
  text-decoration: none;
  &:hover{
    color: $color-accent;
  }
}
body {
  font-style: normal;
  font-weight: 400;
  font-family: $font-stack;
  line-height: $base-line-height;
  color: $color-dark;
}
.container{
  max-width: $container-max-width;
  min-width: $container-min-width;
  margin: auto;
  padding-left: $container-padding;
  padding-right: $container-padding;

  @include breakpoint(max-width $pad-width){
    padding-left: $container-padding-pad;
    padding-right: $container-padding-pad;
  }
}

main {
  display: flex;
  min-height: calc(100vh - #{$footer-height});
  padding-bottom: 40px;
  @include breakpoint(max-width $desktop-width){
    padding-top: 60px;
  }
}
.content{
  width: 100%;
  &.with-sidebar{
    width: calc(100% - #{$sidebar-left});
    @include breakpoint(max-width $desktop-width){
      width: 100%;
    }
  }
}
.section-name{
  text-align: center;
  @include breakpoint(max-width $pad-width){
    font-size: 1.2em;
  }
}
.section-header{
  text-align: center;
  font-size: 1.4em;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  @include breakpoint(max-width $pad-width){
    font-size: 1.2em;
  }
}
.section-block{
  margin-top: 4rem;
  margin-bottom: 1rem;
  @include breakpoint(max-width $pad-width){
    margin-top: 2.5rem;
  }
}
.link{
  color: $color-primary;
  &:hover{
    color: $color-accent;
  }
}
.table{
  display: table;
  width: 100%;
  &.table-blue{
    .table-row{
      &:nth-child(even){
        background-color: #e9f1ff;
      }
    }
    .table-cell{
      padding: 12px;
    }
  }
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}